@page "/shipdata"
@using IoTSpaceShip_App.Model
@inject HttpClient Http
@inject IJSRuntime JSRuntime
<br />
<main class="container" role="main">
  <div class="d-flex align-items-center justify-content-center my-3 text-white bg-dark rounded shadow-sm">
    <h1>Live Ship Status</h1>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-lg">

    @if (spaceship == null)
    {
      <p><em>Loading...</em></p>
    }
    else
    {
      <div class="d-flex flex-sm-row flex-wrap justify-content-center mb-2">
        <div class="p-5 bd-highlight align-self-center">
          <img src="/img/1-spaceship.jpg" width="400">
        </div>
        <div class="p-5 bd-highlight">
          <table class="table">
            <thead>
              <tr>
                <th>Ship Info</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ship Id</td>
                <td>@spaceship.Identifier</td>
              </tr>
              <tr>
                <td>Origin Planet</td>
                <td>@spaceship.OriginPlanet</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>@spaceship.Description</td>
              </tr>
              <tr>
                <td>Builder</td>
                <td>@spaceship.Builder</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex flex-sm-row flex-wrap justify-content-center mb-2">
        <div class="p-2 bd-highlight align-self-center">
          <h3 class="bg-dark text-white rounded">Location Data</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Variable</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Location: </td>
                <td></td>
              </tr>
              <tr>
                <td>Velocity:</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    }
  </div>





</main>
@code {
  private Spaceship spaceship;

  protected override async Task OnInitializedAsync()
  {
    spaceship.Identifier = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "spaceship.Identifier");
    spaceship.Description = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "spaceship.Description");
    spaceship.Builder = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "spaceship.Builder");
    spaceship.OriginPlanet = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "spaceship.OriginPlanet");
    spaceship.Classification = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "spaceship.Classification");
    //spaceship.MaximumOccupancy = await JSRuntime.InvokeAsync<int>("localStorage.getItem", "spaceship.MaxOccupancy");
    //spaceship.ProductionDate = await JSRuntime.InvokeAsync<DateTime>("localStorage.getItem", "spaceship.ProductionData");
    spaceship = new Spaceship {

    };


  }


}
